#board {
    width: 300px; 
    font-size: 0;
    display: grid;
    grid-template-columns: repeat(5, 0fr);
}

.cell {
    width:  15px;
    height: 15px;
    border: 1px solid black;
    background: url("state.png") no-repeat;
}


.hidden.empty.cell {
    background-position: 0px -51px;
    cursor: pointer;
}

.hidden.mine.cell {
    background-position: 0px -52px;
    cursor: pointer;
}

.revealed.empty.cell {
    background-position: -18px -52px; 
}

.revealed.mine.cell {
    background-position: -86px -52px; 
}

.flagged.empty.cell{
    background-position: -34px -52px; 
    cursor: pointer;
}

.flagged.mine.cell{
    background-position: -34px -52px; 
    cursor: pointer;
}

